<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Development Google Client Configuration -->
    <key>CLIENT_ID</key>
    <string>526055709746-golq3n9mgv1oh55sgim0s5qrqcped8j6.apps.googleusercontent.com</string>
    
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.526055709746-golq3n9mgv1oh55sgim0s5qrqcped8j6</string>
    
    <key>API_KEY</key>
    <string>DEVELOPMENT_API_KEY_IF_NEEDED</string>
    
    <key>GCM_SENDER_ID</key>
    <string>526055709746</string>
    
    <key>PLIST_VERSION</key>
    <string>1</string>
    
    <key>BUNDLE_ID</key>
    <string>com.assistantapp.dev</string>
    
    <key>PROJECT_ID</key>
    <string>your-firebase-project-dev</string>
    
    <key>STORAGE_BUCKET</key>
    <string>your-firebase-project-dev.appspot.com</string>
    
    <key>IS_ADS_ENABLED</key>
    <false/>
    
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    
    <key>IS_GCM_ENABLED</key>
    <true/>
    
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    
    <key>GOOGLE_APP_ID</key>
    <string>1:526055709746:ios:development_app_id</string>
</dict>
</plist>